.layout {
    position: absolute;
    top: $navbar-height;
    bottom: 0;
    right: 0;
    left: 0;
    height: calc(100% - #{$navbar-height});

    &__container {
        height: 100%;
        margin-top: 0;
        margin-bottom: 0;
        overflow: hidden;

        &--overflow {
            overflow-y: auto;
        }
    }
}
