:root {
    --header-height: 3rem;
    --sidebar-width: 20rem;
}

.layout {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    &__header {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: var(--header-height);
    }

    &__sidebar {
        position: absolute;
        top: var(--header-height);
        bottom: 0;
        left: 0;
        width: var(--sidebar-width);
    }

    &__content {
        position: absolute;
        top: var(--header-height);
        bottom: 0;
        right: 0;
        left: var(--sidebar-width);
        padding: 1rem;
        overflow-x: hidden;
        overflow-y: auto;
    }
}
